$max-small-desktop-width: 700px;
$max-mobile-width: 600px;

$unit: 10px;

$color-background: #fff;
$color-cta: #24f;
$color-answer: rgb(233, 152, 0);
$color-answer-changed: rgb(233, 66, 0);
$color-ruler: #f1d0a2;
$color-warning: #e44;
$color-selected-background: rgb(245, 200, 117);
$color-text: #000;
$color-comment: #2daf16;

$color-background-dark: #222;
$color-cta-dark: rgb(125, 159, 252);
$color-answer-dark: rgb(254, 191, 73);
$color-answer-changed-dark: rgb(246, 83, 19);
$color-ruler-dark: #6f4a15;
$color-warning-dark: rgb(238, 87, 87);
$color-selected-background-dark: rgb(113, 75, 5);
$color-text-dark: #fff;
$color-comment-dark: #4fd637;
